{% extends "base.html" %}

{% block body %}
		<!-- Section One -->
			<div class="wrapper style3">
				<section class="container">
					<header class="major">
						<h2>Sector </h2>
					</header>
					<p>La región de los Andes, cuna de grandes civilizaciones como la Incaica y Tiahuanacota, es considerada centro de origen de numerosas especies nativas como la quinua
            (Chenopodium quinoa Willd), la misma que durante miles de años fue el principal alimento de las culturas antiguas de los Andes y que está distribuida en diferentes zonas agroecológicas de la región.
            En la actualidad la quinua y otros granos andinos como la kiwicha, la qañiwua, etc., se encuentran en franco proceso de expansión porque representan un gran potencial para mejorar
             las condiciones de vida de la población de los Andes y del mundo moderno.</p>
					<a href="http://quinua.pe/el-sector/" class="button alt">Fuente: Quinua.pe</a>
				</section>
			</div>

		<!-- Section Three -->
			<div class="wrapper style4">
				<section class="container">
					<header class="major">
						<h2>Herramientas</h2>
						<span class="byline">Estas son algunas herramientas que ofrecemos.</span>
					</header>
					<div class="row flush">
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-users"></span>
									<h3>Nosotros</h3>
									<p>El objetivo es reducir la asimetria de informacion.</p>
								</li>
								<li>
									<span class="fa fa-shopping-cart"></span>
									<h3>Mercados</h3>
									<p>Los diversos mercados de donde se obtiene la informacion referenciada.</p>
								</li>
                <li>
									<span class="fa fa-newspaper-o"></span>
									<h3>Noticias en el sector</h3>
									<p>Las diversas noticias relevantes para el productor.</p>
								</li>
							</ul>
						</div>
						<div class="4u">
							.
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-globe"></span>
									<h3>Ciudades</h3>
									<p>Las regiones del Peru.</p>
								</li>
                <li>
									<span class="fa fa-money"></span>
									<h3>Precio</h3>
									<p>El precio de los granos andinos actualizados de forma periodica.</p>
								</li>

                <li>
                  <span class="fa fa-leaf"></span>
                  <h3>Productos</h3>
                  <p>Informacion sobre los granos andinos.</p>
                </li>
							</ul>
						</div>
					</div>
				</section>
			</div>

		<!-- Team -->
			<div class="wrapper style5">
				<section id="team" class="container">
					<header class="major">
						<h2>Actores</h2>
						<span class="byline">Los involucrados dentro del proceso</span>
					</header>
					<div class="row">
						<div class="3u">
							<a href="#" class="image cuadro"><img src="{{ url_for('static', filename='images/productor.png') }}" alt=""></a>
							<h3>Productores</h3>
							<p>Los productores son los principales involucrados dentro del sistema.</p>
						</div>
						<div class="3u">
							<a href="#" class="image cuadro"><img src="{{ url_for('static', filename='images/produc.jpg') }}" alt=""></a>
							<h3>Intermediarios</h3>
							<p>Los intermediarios dentro de la cadena de suministro.</p>
						</div>
						<div class="3u">
							<a href="#" class="image cuadro"><img src="{{ url_for('static', filename='images/placeholder.png') }}" alt=""></a>
							<h3>Estado</h3>
							<p>El estado provee una plataforma de desarrollo para los involucrados.</p>
						</div>
						<div class="3u">
							<a href="#" class="image cuadro"><img src="{{ url_for('static', filename='images/produc.jpg') }}" alt="holaaa"></a>
							<h3>Familias</h3>
							<p>El precio de los productos.</p>
						</div>
					</div>
				</section>
			</div>


  {% endblock %}
