{% extends "base.html" %}

{% block body %}

<div class="wrapper style2">
				<section class="container">
          <h3>Provincias de {{ departamento }} </h3>

							<div class="table-wrapper">
								<table>
									<thead>
										<tr>
											<th>Id</th>
											<th>Nombre</th>
											<th></th>
										</tr>
									</thead>
									<tbody>


                    {% for region in regions %}
                    <tr>
											<td>{{ region.Numero }}</td>
											<td>{{ region.Nombre }}</td>
											<td><a href="/ciudades/{{ region.Id}}"> Ver detalle </a></td>
                    </tr>
                    {% endfor %}

									</tbody>
								</table>
							</div>
      </section>
</div>


{% endblock %}
