{% extends "base.html" %}

{% block body %}

<div class="wrapper style2">
				<section class="container">
          <h3>Departamentos del Peru</h3>

							<div class="table-wrapper">
								<table>
									<thead>
										<tr>
											<th>Name</th>
											<th>Descripcion</th>
											<th>Superficie</th>
										</tr>
									</thead>
									<tbody>


                    {% for region in regions %}
                    <tr>
											<td><a href="{{ url_for('provincias', dep_id = region.Id) }}">{{ region.Departamento }}</a></td>
											<td>{{ region.Descripcion }}</td>
											<td>{{ region.Superficie}}</td>
                    </tr>
                    {% endfor %}

									</tbody>
								</table>
							</div>
      </section>
</div>


{% endblock %}
